{% extends 'phoenix/layout.html' %}
{% load mptt_tags %}
{% block body %}
<ul id='FIRStuff'>

</ul>
{% csrf_token %}
<ul class="root">
   {% recursetree quests %}
        <li>
            <button id="questlink" data-csrf='{{csrf_token}}'>{{ node.name }}</button>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
      {% endrecursetree %}
</ul>
<div id="fixedblock">
   <h1>Current Quests</h1>
   <ul id="questlistul">
      <li class="dropdown-item" id="questlistli">Testing test<span class="closequest">&times;</span></li>
   </ul>
</div>
{% endblock %}
{% block script%}
<script>buildquestlist()</script>
{% endblock %}

<!-- onclick="getFIRItems('{{node.name}}', '{{csrf_token}}', this.value)" -->
